.note {
  height: 5rem;
  width: 5rem;
  cursor: pointer;
  margin: 0;
  padding: 0;
  border: 0.1rem solid var(--primary-color);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
  font-size: 1rem;
}

.note:hover {
  background-color: rgb(0, 128, 148, 0.2);
}

.note.active {
    background-color: rgb(0, 128, 148, 0.2);
}

.note-off {
  background-color: white;
}

.DO {
  background-color: var(--DO-color);
}
.RE {
  background-color: var(--RE-color);
}
.MI {
  background-color: var(--MI-color);
}
.FA {
  background-color: var(--FA-color);
}
.SOL {
  background-color: var(--SOL-color);
}
.LA {
  background-color: var(--LA-color);
}
.TI {
  background-color: var(--TI-color);
}


.DO:hover {
  background-color: var(--DO-color);
}
.RE:hover {
  background-color: var(--RE-color);
}
.MI:hover {
  background-color: var(--MI-color);
}
.FA:hover {
  background-color: var(--FA-color);
}
.SOL:hover {
  background-color: var(--SOL-color);
}
.LA:hover {
  background-color: var(--LA-color);
}
.TI:hover {
  background-color: var(--TI-color);
}

