.note {
  height: 5rem;
  width: 5rem;
  cursor: pointer;
  margin: 0;
  padding: 0;
  border: 0.1rem solid var(--primary-color);
  box-sizing: border-box;
  display: flex;
}

.note:hover {
  background-color: rgb(0, 128, 148, 0.3);
}

.note-off {
  background-color: white;
}

.DO {
  background-color: var(--DO-color);
}
.RE {
  background-color: var(--RE-color);
}
.MI {
  background-color: var(--MI-color);
}
.FA {
  background-color: var(--FA-color);
}
.SOL {
  background-color: var(--SOL-color);
}
.LA {
  background-color: var(--LA-color);
}
.TI {
  background-color: var(--TI-color);
}
