.note {
  height: 5rem;
  width: 5rem;
  cursor: pointer;
}

.note-off {
  background-color: white;
  border: 1px solid black;
}


.DO {
  background-color: var(--DO-color);
}
.RE {
  background-color: var(--RE-color);
}
.MI {
  background-color: var(--MI-color);
}
.FA {
  background-color: var(--FA-color);
}
.SOL {
  background-color: var(--SOL-color);
}
.LA {
  background-color: var(--LA-color);
}
.TI {
  background-color: var(--TI-color);
}
