:root {
  --bg-color: white;
  --primary-color: #008094;
  --DO-color: #fb4455;
  --RE-color: #52bd7e;
  --MI-color: #ffd45b;
  --FA-color: #fb4996;
  --SOL-color: #4499fb;
  --LA-color: #1dba15;
  --TI-color: #44fbd3;
}

* {
  margin: 0;
  padding: 0;
}
html,
body,
#root {
  height: 100vh;
  width: 100vw;
}
