:root {
  --bg-color: white;
  --primary-color: #008094;
  --DO-color: #ff6b6b;
  --RE-color: #dc6bff;
  --MI-color: #feca57;
  --FA-color: #48dbfb;
  --SOL-color: #1dd1a1;
  --LA-color: #8e44fd;
  --TI-color: #ff6fff;
}

* {
  margin: 0;
  padding: 0;
}
html,
body,
#root {
  height: 100vh;
  width: 100vw;
}
